# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local env files
node_modules
.firebase
.DS_Store
dist
dev-dist
public/firebase-messaging-sw-*
public/manifest.webmanifest
dist-ssr
coverage
*.local
firebase-export*
credentials.*.json
credentials.json
backup.*.json
backup.json
*.env*
*env.*
!.env
functions/.env
!.env.example
!env.d.ts
*-firebase-adminsdk-*.json
seed/local/*
!seed/local/README.md
seed/unit/*
!seed/unit/README.md
seed/e2e/*
!seed/e2e/README.md

/dist

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.history
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?