@use 'vuetify' with (
   //$body-font-family: Roboto // load from ViteFonts in vite.config.js
   $body-font-family: Rubik
);

.v-locale--is-rtl .rx {
  flex-direction: row-reverse !important;
}
.v-locale--is-rtl .fx {
  transform: rotate(180deg);
}
.v-locale--is-rtl .dp__menu {
  direction: rtl;
}
.firebase-emulator-warning {
  opacity: 0.75;
}